.buttonTertiary{
    outline: none;
    border: none;
    color:#BA338A;
    background-color: #ffffff;
    height: 32px;
    width: 120px;
    border-radius: 10px;
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
   }
   .buttonTertiary:hover{
     cursor: pointer;
     background-color:   #F6F1F5;;
     color: #c04c98;
   }