.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  padding: 1rem;
  gap: 2rem;
  min-height: 100vh;
  width: 100%;
}

/* .Cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.Card {
  margin: 20px;
} */
