.container {
  display: flex;
  flex-direction: column;
}
.reviewsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 1em;
}
