.NoFound{
    height: 80vh;
    width: 80vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #BA338A;
}
.imgNoFound{
    background-image: url("../../assets/img/Nofound.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 250px;
}