.shoppingClientContainer{
    /* height: 40vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    overflow: auto;
}
.shoppingClientContainer::-webkit-scrollbar {
    width: 3px; 
}
.shoppingClientContainer::-webkit-scrollbar-thumb {
    background-color: #BA338A; 
    border-radius: 20px;
}

.containerOrder {
    justify-content: end;
}
