.navBarLinksContainer img {
  width: 150px;
  margin: 0px 16px;
  object-fit: cover;
}

.navBarContainer {
  right: 0px;
  height: 80px;
  padding: 0px 56px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f6f1f5;
}

.navBarLinksContainer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.navBarButton {
  background-color: #f6f1f5;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #171717;
  cursor: pointer;
}

.buttonLinkActive {
  text-decoration: none;
  color: #ba338a;
  font-size: 20px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  height: 80px;
  border-bottom: 6px solid #ba338a;
}
.searchBarDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}
