.containerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 700px;
  
}

.inputsContainer{
    display: flex;
    gap: 16px;
    width: 100%;
    margin: 16px 0px;
}

.fieldAndError{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.inputsSizesContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.selectDiv{
    width: 100%;
}

.createProductError{
  color: #c12525;
  font-size: 12px;
}