.carouselSlide{
    height: 420px;
    width: 100%;
    color: #fff;
    line-height: 160px;
    text-align: center;
    background: #ce1995;
    object-fit: cover;
}

  
  @media (max-width: 768px) {
    .carouselSlide {
      height: 150px;
    }
  }
  
  @media (max-width: 576px) {
    .carouselSlide {
      height: 80px;
    }
  }