.productDetailContainer{
    display:flex;
    flex-direction:column;
    width: 100%;

}

.productDetailContainerTop{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    margin-bottom:32px;
    width: 100%;
    height: 100%;
}

.productDetailImageContainer{
   background-color: #E0B3D3;
    width: 50%;
    display:flex;
    justify-content:center;
    align-items:center;
}
.productDetailImage{
    width: 100%;
    height: 700px;
    object-fit: contain;

}

.productDetailInfoContainer{
    position: relative;
    width: 50%;
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
}

.productDetailTitle{
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 16px;
    color: #BA338A;
}

.productDetailPrice{
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 16px;
    color: #171717;
  
}

.productDetailContainerBottom{
    display:flex;
    flex-direction: column;
    padding:2em;
}

.productDetailInputs{
    display: flex;
    flex-direction: column;
    gap:16px;
}
.butonant{
    height: 50px;
    position: absolute;
    top:10px;
    right: 10px;
}

.color {
    width: 5px;
}