.buttonSecondary{
    outline: none;
    border: none;
    color:#BA338A;
    height: 32px;
    width: 120px;
    border-radius: 10px;
    background-color: transparent;
    border: solid 1px #BA338A;
    margin-left: 8px;
    font-weight: 600;
    font-size: 14px;
   }
   .buttonSecondary:hover{
     cursor: pointer;
     border: solid 1px #c04c98;
     color: #c04c98;
   }